/TP02/Debug/TP02.exe
/TP02/Debug/TP02.ilk
/TP02/Debug/TP02.pdb
/TP02/TP02/Debug/Main.obj
/TP02/TP02/Debug/TP02.log
/TP02/TP02/Debug/TP02.tlog/CL.command.1.tlog
/TP02/TP02/Debug/TP02.tlog/CL.read.1.tlog
/TP02/TP02/Debug/TP02.tlog/CL.write.1.tlog
/TP02/TP02/Debug/TP02.tlog/link.command.1.tlog
/TP02/TP02/Debug/TP02.tlog/link.read.1.tlog
/TP02/TP02/Debug/TP02.tlog/link.write.1.tlog
/TP02/TP02/Debug/TP02.tlog/TP02.lastbuildstate
/TP02/TP02/Debug/vc140.idb
/TP02/TP02/Debug/vc140.pdb
/TP02/TP02.sdf
/TP02/.vs/TP02/v14/.suo
/TP02/TP02.opensdf
*.obj
*.l.tlog